<include("src/layouts/blank")>
    <@title>
      Logo
    </@title>
    <@body>
      <div.logo>
        <awly-logo />
      </div>
    </@body>
</include>

style.scss {
  body {
    background-color: #19114a;
  }
  .logo {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
  }
}
