<!doctype html>
<html>
<head>
    <google-analytics tracking-id="UA-115954060-1"
                      cookie-consent-trigger="cookieConsent"
                      show-only-in-stage("prod")
    />
    <google-analytics tracking-id="UA-115954060-2"
                      cookie-consent-trigger="cookieConsent"
                      show-only-in-stage("dev")
    />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><include(data.title)/></title>

    <style inline-css="/assets/css/normalize.css"></style>
    <style inline-css="/assets/css/system-fonts.css"></style>

    $!{out.global.injectCSS}
</head>
<body.grid-layout>
    <insites-cookie-consent waitFor="gaLoaded" />

    <div.ribbon>
      <awly-github-ribbon repo-url="sirceljm/awly" position="right" color="orange"></awly-github-ribbon>
    </div>
    <div.header-bg></div>
    <div.title-bg></div>
    <div.footer-bg></div>

    <div.nav><include(data.nav)/></div>
    <div.body><include(data.body)/></div>
    <div.footer><include(data.footer)/></div>

    $!{out.global.injectJS}

    <awly-hot-reload show-only-in-stage("dev") />
</body>
</html>

style.scss {
    .nowrap {
        white-space: nowrap;
    }

    .grid-layout {
        display: grid;
        min-height: 100vh;
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: auto 1fr 50px;
        grid-template-areas:
            ". nav ."
            ". body ."
            ". footer .";
    }

    @media (min-width: 900px){
        .grid-layout {
            grid-template-columns: 1fr 400px 400px 1fr;
            grid-template-rows: auto 1fr 50px;
            grid-template-areas:
                ". nav nav ."
                ". body body ."
                ". footer footer .";
        }
    }

    @media (min-width: 1300px){
        .grid-layout {
            grid-template-columns: 1fr 600px 600px 1fr;
            grid-template-rows: auto 1fr 50px;
            grid-template-areas:
                ". nav nav ."
                ". body body ."
                ". footer footer .";
        }
    }



    .header-bg {
        grid-area: nav-start / 1 / nav-end / end;
        background-color: hsla(289, 61%, 17%, 1);
    }

    .footer-bg {
        grid-area: footer-start / 1 / footer-end / end;
        background-color: hsla(289, 61%, 17%, 1);
    }

    .nav {
        grid-area: nav;
        display: flex;
        align-items: center;
        margin: 20px 0px;
    }

    .body {
        grid-area: body;
    }

    .footer {
        grid-area: footer;
    }

    .ribbon {
        @media (max-width: 899px){
            display: none;
        }
    }
}
